* {
  margin: 0;
  padding: 0;
}

body {
    font-family: sans-serif;
}

header {
  position:fixed;
  background-color: black;
  color: white;
  display:flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  height:60px;
  margin-top:-21px;
  z-index: 100;
}

header .logo {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
}

header nav ul {  
  display:flex;
  margin-left: 30px;
  list-style: none;
  column-gap: 30px;
  justify-content: space-between;
}

header nav ul li {
  /* align-items: center; */
  font-size: 19px;
}

main {
  width: 100%;
  margin-top: 20px;
}

main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

main section h1 {
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: 800;
  padding-top:80px;
}

main section h1 span {
  color:yellow;
}

main section h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
}

main section img {
  width: 18%;
  position: absolute;
  top: 215px;
  display: block;
}

main .about {
  width: 100%;
  text-align: center;
  background-color: rgb(233, 232, 232);
  margin-top: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main .about h3 {
  margin-top:20px;
  font-size:24px;
  font-weight: bold;
}

main .about .bungkusp p{
  width: 60%;
  margin:auto;
  margin-top: 30px;
  margin-bottom:50px;
}

.contohproyek {
  margin-top: 20px;
}

.contohproyek h3{
  text-align: center;
  font-size:24px;
  font-weight: bold;
}

.contohproyek .image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  column-gap: 20px;
}

.contohproyek .image .image1{
  text-align: center;
  width: 32%;
}

.contohproyek .image .image1 img{
  width: 300px; 
}

.contactform {
  background-color: rgb(233, 232, 232);
  text-align: center;
  height:300px;
  padding-top: 40px;
  padding-bottom: 100px;
}

.contactform h3 {
  padding-top: 20px;
  font-size:24px;
  font-weight: 800;
  text-align: center;
}

.contactform .emailform {
  display: grid;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 10px;
  padding: 20px;
  height: 35px;
}

.contactform .messageform {
  display: grid;
  margin-right: 25%;
  margin-left: 25%;
  padding: 20px;
  height: 80px;
}

.contactform .messageform textarea {
  font-family: sans-serif;
  padding: 5px;
  border: 1px solid black;
}

.contactform .buttonkirim {
  background-color: rgb(247, 233, 137);
  border-color: rgb(247, 233, 137);
  color: black;
  width: 300px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  
  margin-bottom: 100px;
  margin-top: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: rgb(64, 125, 130);
  padding: 40px;
  height: 100px;
  color: white;
}

footer .logobawah {
  text-transform: uppercase;
  padding: 20px;
  padding-left: 10px;
  font-size: 35px;
  font-weight: normal;
}

footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

footer nav ul li {
  padding-top: 10px;
  font-size: 20px;
}