* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  display:flex;
  flex-direction: row;
  padding: 15px;
  align-items: center
  /* column-gap: 50px; */
}

header .logo {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

nav ul {  
  display:flex;
  margin-left: 30px;
  list-style: none;
  column-gap: 20px;
  justify-content: space-between;
}

nav ul li {
  /* align-items: center; */
  font-size: 19px;
}

main {
  width: 100%;
}

main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section h1 {
  text-transform: uppercase;
  font-size: 80px;
}

main section h1 span {
  color:yellow;
}

main section h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
}